@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    font-family: 'poppins';
    font-size: 13px;
}
.main {
    height: 100vh;
    width: 100vw;
    background-color: black;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formContainer {
    width: 90%;
    background-color: rgb(28,37,59,0.97); 
    border-radius: 10px;
    position: relative;
    z-index: 1;
    height: auto;
    padding-block: 30px;
}
.formContainer p {
    color: white;
    padding-block: 10px;
}
.formHeader {
    font-size: 19px;
    font-weight: 700;
}
.inputContainer {
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: space-evenly;
    color: grey;
    padding: 10px;
    font-family: revert;
    height: 420px;
   
}
.inputSection {
    width: 50%;
    text-align: left;
    padding-left: 10px; 
}
.inputField:active,
.inputField:focus {
  border-color: #ff3385b6; 
  outline: none; 
}
.inputField {
    background-color: rgb(28 37 59);
    border: 1px solid #0f0f0f;
    width: 100%;
    height: 50px;
    color: rgb(215, 212, 212);
    padding: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
    padding-inline: 20px;
}

input[type="date"] {
    color: inherit;
    text-transform: uppercase;
}
label {
    color: white;
    opacity: 0.6;
}
.submitButton {
    width: 20%;
    padding: 10px;
    height: 50px;
    background: linear-gradient(
      to right,
      #ff66b2,
      #ff3385
    );
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 3%;
}
.inputsecDiv { 
    height: 90px;
    padding-bottom: 5px;
   
}
.error {
    font-size: 13px;
    position: relative;
    bottom: 20px;
   color: red !important;
}
#thumbnailDiv { 
    width: 50%;
    height: 7rem;
}
.thumbnailError {
    font-size: 13px;
    position: relative;
    bottom: 7px;
    color: red !important; 
}
#sourceDiv {
    width: 50%;
    height: 7rem;
}
.sourceError {
    font-size: 13px;
    position: relative;
    bottom: 7px;
    color: red !important;
    text-align: end;
    right: 50px;
}
.submitDiv {
    width: 100%;
    height: auto;
}
.ball1 {  
    position: fixed;
    bottom:40%;
    left: 1%;
    height: 150px;
    width: 150px;
    border: 1px solid black;
    background-color: #ec389b;
    border-radius: 240% 180% 180% 100%;
    transform: rotate(10deg);
}
.ball2 {
    height: 200px;
    width: 240px;
    border: 1px solid black;
    border-radius: 120% 120% 120% 120%;
    background-color: #ec389b;
    position: fixed;
    bottom: 2%;
    left: 5%;
}
.ball3 {
    height: 380px;
    width: 380px;
    border: 1px solid black;
    border-radius: 50% 50% 50% 50%;
    background-color: #ec389b;
    position: fixed;
    right: -3%;
    bottom: -3%;
}
input[type=file]::file-selector-button {
    display: block;
    margin-right: 20px;
    background:rgb(28,37,59,0.97);
    padding:15px 50px 15px 50px;
    border-radius: 5px;
    color: inherit;
    cursor: pointer;
    border: 1px solid #0f0f0f;
}
input[type=file]::file-selector-button:hover {
    background: rgb(28,37,59,0.97);
}
.fileUpload {
    display: flex;
    justify-content: space-between;
}
.success-message {
    color: #81B983 !important;
}
@media only screen and (max-width: 768px) {
    *{
    scroll-behavior: smooth;
    }
    .main {
    padding-top: 40px;
    padding-bottom: 40px;
    overflow: scroll;
    overflow-x: hidden;
    }
    .inputContainer {
    display: flex;
    width: 100%;
    }
    .formContainer {
    margin-top: 360px;
    margin-bottom:5px;
    
    }
    .inputContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    height: fit-content;
    }
    form p { 
    font-size: 15px;
    }
    .fileUpload input {
    width: 87%;
    }
    .inputSection {
    width: 100%;
    padding-bottom: 20px;
    }
    form button {
    width: 85% !important;
    }
    .inputsecDiv {
    width: 87%;
    }
    input[type="textarea"] {
    width: 10px !important;
    }
    .description {
    width: 87%;
    }
    .fileUpload {
    display: flex;
    flex-direction: column;
    width: 87%;
    justify-content: space-between;
    }
  }
